<html>
<head>
<title>mypage-myplaylist.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
mypage-myplaylist.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot; </span><span class="s2">xmlns:th</span><span class="s3">=&quot;http://www.w3.org/1999/xhtml&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;head&gt;</span>
  <span class="s0">&lt;meta </span><span class="s2">charset</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;meta </span><span class="s2">name</span><span class="s3">=&quot;viewport&quot; </span><span class="s2">content</span><span class="s3">=&quot;width=device-width, initial-scale=1.0&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;title&gt;</span><span class="s1">My Playlist</span><span class="s0">&lt;/title&gt;</span>
<span class="s0">&lt;/head&gt;</span>
<span class="s0">&lt;body&gt;</span>

<span class="s0">&lt;h1&gt;</span><span class="s1">My Playlist</span><span class="s0">&lt;/h1&gt;</span>

<span class="s0">&lt;ul&gt;</span>
  <span class="s0">&lt;li </span><span class="s2">th:each</span><span class="s3">=&quot;song : ${playlist}&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;span </span><span class="s2">th:text</span><span class="s3">=&quot;${song.title}&quot;</span><span class="s0">&gt;&lt;/span&gt; </span><span class="s1">- </span><span class="s0">&lt;span </span><span class="s2">th:text</span><span class="s3">=&quot;${song.artist}&quot;</span><span class="s0">&gt;&lt;/span&gt;</span>
  <span class="s0">&lt;/li&gt;</span>
<span class="s0">&lt;/ul&gt;</span>

<span class="s0">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;/Mainpage&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;button&quot;</span><span class="s0">&gt;</span><span class="s1">Back to Home</span><span class="s0">&lt;/button&gt;</span>
<span class="s0">&lt;/a&gt;</span>

<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span>
</pre>
</body>
</html>